<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/specializations/week_6/capstone_project/static/style.css">
    <title>National Parks Bucket List Creator</title>
</head>
<header>
  <div class="navBar">
    <h1>National Parks Bucket List</h1>
    <nav id="nav">
      <a class = "navLinks" id= "home" href="base.html">Home</a>
      <a class="navLinks" id= "bucket" href="DONT FORGET ME"> My Bucket List</a>
      <a class="navLinks" id = "login" href="login.html">Login </a>
    </nav>
  </div>
</header>

<body>
  
  <main>

    <!-- {% block body %} -->

    <article>
    <h2>National Park of the Week- Yellowstone</h2>
    <div id="weeklyPark">
      <img id = "yellowStone" src="/specializations/week_6/capstone_project/images/yellowStone.jpg" alt="yellow stone picture">
      <ul>
        <li>Yellowstone was established as a National Park on March 1, 1872.
        </li>
        <li>Mid-June to Labor day is peak season for Yellowstone but Yellowstone is open all year.</li>
        <li>Camping at Yellowstone is first come, first served and reservations can be made online.</li>
        <li>Stopping by Old Faithful Visitors Center before hiking down to Old Faithful is highly recommended. You can pick up a trail map there and also get estimated eruption times for the day.</li>
      </ul>
    </div>
    </article>
  </main>
  <main>
    <article>
      <h2>Learn about the Creator</h2>
      <div id="weeklyPark">
        <img id= "sarah" src="/specializations/week_6/capstone_project/images/IMG_1886.jpg" alt="Sarah and her Family">
      <p> Sarah, pictured here with her husband Josh and son Percy at Arches National Parks, has a great love for the outdoors. She has a goal to visit all the National Parks in the United States. Once Sarah has visited all of the National Parks in the United States she hopes to travel around the world to visit the National Parks of other countries. Recently Sarah went on a trip with her husband and son to four out of the five national parks in Utah. They visited Arches, Canyonlands, Bryce Canyon and Zion National Parks. Bryce Canyon was by far her favorite with astounding views and amazing hikes. She hopes that you enjoy this website and go on many adventures with the ones you love.
      </p>
      </div>
    </article>

    <!-- {% endblock %} -->

  </main>
</body>
</html>